.form{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 4px;

    margin-top: 14px;

    font-size: 0.82rem;
}

.input{
    grid-column: 1 / span 3;
    padding: 6px 8px;

    border-radius: 4px;
    border: 1px solid rgba(92, 92, 92, 1);

    font-size: inherit;
}

.button{
    
    font-size: inherit;
}