.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    background-color: #f1f5f9;
    border-radius: 8px;
    transition: background 0.3s;
}
.text{
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
    color: #94a3b8;
}
.completedHighlight{
    text-decoration: none;
    font-weight: bold;
    color: #16a34a;
    background-color: #d1fae5;
    padding: 4px 8px;
    border-radius: 6px;
    display: inline-block;
}
.actions{
    display: flex;
    gap: 6px;
}
.edit{
    background: transparent;
    border: none;
    color: #3b82f6;
    font-size: 1.1rem;
    cursor: pointer;
    transition: color 0.3s;
}
.edit:hover{
    color: #1d4ed8;
}
.delete{
    background: transparent;
    border: none;
    color: #ef4444;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s;
}
.delete:hover{
    color: #b91c1c;
}